@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap");

:root {
  --primary-light: #f8fafc;
  --primary-dark: #f5d565;
  --secondary-light: #f5e8d5;
  --secondary-dark: #e9a23b;
  --accent-light: #a0ecb1;
  --accent-dark: #32d657;
  --neutral-light: #f7d4d3;
  --neutral-dark: #dd524c;
  --background-light: #e3e8ef;
  --background-dark: #97a3b6;
  --text-primary: #3662e3;
  --text-secondary: #00000033;
  --font-family: "Outfit", sans-serif;
  --font-size-xl: 2.5rem;
  --font-size-lg: 1.25rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

main {
  padding: 2rem 1rem;
}

header {
  display: flex;
  gap: 1.5rem;
}

h1 {
  font-weight: 500;
}

.task {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0 0;
  padding: 1.25rem;
  border-radius: 1.5rem;
  background: var(--secondary-light);
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: 0.3s;
}

.task:hover {
  transform: scale(1.1);
}

.task img {
  background: var(--secondary-dark);
  padding: 0.75rem;
  border-radius: 15px;
  align-self: f;
}

.task-icon {
  padding: 0.5rem;
  background: var(--primary-light);
  font-size: var(--font-size-lg);
  border-radius: 15px;
}

.task-desc {
  margin-top: 0.275rem;
  font-size: 1.2rem;
  font-weight: 300;
}
main {
  max-width: 45rem;
  margin: 0 auto;
}

main .completed {
  background: var(--accent-light);
}

.completed img {
  background: var(--accent-dark);
}

section img {
  margin-left: auto;
  width: 50px;
}

main .inprogress {
  background: var(--primary-dark);
}

.inprogress img {
  background: var(--secondary-dark);
}

main .wont-do {
  background: #f7d4d3;
}

.wont-do img {
  background: #dd524c;
}

.todo {
  background: #00000033;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-bottom: 2rem !important;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.modal-overlay {
  background: rgba(255, 255, 255, 0.3);
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.75rem;
  overflow: hidden;
  pointer-events: auto;
  transform: translateX(0);
}
.modal-wrapper {
  width: 95%;
  height: 95%;
  background: #f8fafc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: 1s;
}

@media (min-width: 648px) {
  .modal-wrapper {
    max-width: 36rem;
    left: auto;
    right: 1rem;
    transform: translateY(-50%);
    max-width: 36rem;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%) translateY(-50%);
  }
  to {
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0) translateY(-50%);
  }
  to {
    transform: translateX(100%) translateY(-50%);
  }
}

.modal-wrapper {
  animation: slideInRight 0.5s ease-out;
}

.modal-wrapper.closing {
  animation: slideOutRight 0.5s ease-out;
}
.open-modal-btn,
.close-modal-btn {
  cursor: pointer;
}

.close-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.close-modal-btn {
  position: relative;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  background-color: white;
  color: #9ca3af;
  padding: 0.5rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.close-modal-btn:hover {
  color: #6b7280;
}

.close-modal-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #6366f1;
  box-shadow: 0 0 0 2px #6366f1, 0 0 0 4px rgba(99, 102, 241, 0.1);
}

.close-modal-btn img {
  width: 20px;
  height: 20px;
  color: transparent;
}

.hide {
  display: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
  background-color: #3b82f6;
  border: none;
  border-radius: 9999px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #2563eb;
}

.submit-button:focus-visible {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

.emoji-options {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.emoji-option {
  background: #e3e8ef;
  color: black;
}

.emoji-option input {
  display: none;
}

.emoji-box {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.emoji-option input:checked + .emoji-box {
  background-color: #fde68a;
  border-color: #eab308;
}

/* .status-card {
  cursor: pointer;
  display: flex;
  border: 1px solid #00000033;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
} */

.status img {
  border-radius: 7px;
  padding: 0.4rem;
}

.completed img {
  background-color: #32d657;
}

.in-progress img {
  background-color: #e9a23b;
}

.wont-do img {
  background: #dd524c;
}

.modal-wrapper .details {
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(156, 163, 175, 0.5);
}

.status-container .status {
  color: initial;
}
.status-container {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .status-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Status Cards */
.status-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.status-card:hover {
  transform: scale(1.05);
}

/* Hide default radio buttons */
.status-card input {
  display: none;
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.status-icon {
  width: 30px;
  height: 30px;
}

/* Selected State */

.status-card .status-checked {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #2563eb;
}

.blue {
  border: 2px solid blue;
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
  resize: vertical;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #d1d5db;
}

input::placeholder,
textarea::placeholder {
  font-family: inherit;
  font-weight: 700;
  color: rgba(156, 163, 175, 0.5);
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
}

.modal-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  min-height: 100%;
}
